<!DOCTYPE html>
<html id="ng-app" ng-app="MySVN">
<head>
	<title>MySVN</title>
	<meta charset="UTF-8" />
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/ui-grid/ui-grid-stable.min.css"/>
	<link rel="stylesheet" href="/assets/ui-notification/angular-ui-notification.min.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/styles/github.min.css">
	
	<link rel="stylesheet" href="/assets/styles/style.css"/>
	<link rel="stylesheet" href="/assets/styles/repo-browser-styles.css"/>
</head>
<body>

	<nav ng-controller="ConnectionController">
		<section id="connection-info" ng-show="isConnected" class="status-connected">
			Connected to <strong>{{url | hostNameFromURL}}</strong>. HEAD revision <strong>#{{lastRevisionNumber}}</strong>
		</section>
		<section id="connection-info" ng-show="!isConnected" class="status-disconnected">
			Disconnected
		</section>
		<section id="connection">
			
			<a href="javascript:;" ng-click="connection.isOpen = !connection.isOpen" ng-class="{'clicked-down': connection.isOpen}">
				<i class="fa fa-lg fa-server"></i> Connection
			</a>
			<div id="connection-box-curtain" ng-show="connection.isOpen" ng-click="connection.isOpen = false;"></div>
			<div id="connection-box" ng-show="connection.isOpen">
				<form ng-submit="connection.connect()">
					<dl>
						<dt>Url</dt>
						<dd>
							<input type="text" ng-model="url" id="connection-dialog-url" 
								ng-disabled="isConnected || connection.isConnecting" placeholder="SVN URL" />
							<button type="button" id="repo-browser-browse-btn" ng-disabled="isConnected || connection.isConnecting" 
								ng-click="repoBrowser.open()"><i class="fa fa-folder-open-o"></i> Browse</button>
						</dd>
						<dt>Login</dt><dd><input type="text" ng-model="login" ng-disabled="isConnected || connection.isConnecting" placeholder="Login" /></dd>
						<dt>Password</dt><dd><input type="password" ng-model="connection.password" ng-disabled="isConnected || connection.isConnecting" placeholder="Password" /></dd>
						<dt>&nbsp;</dt>
						<dd><label for="connection-store-locally" title="The connection details will be stored locally unencrypted. Not recommended for public/shared computers."><input type="checkbox" id="connection-store-locally" ng-model="connetion.storeConnection" /> Remember</label></dd>
						<dt>&nbsp;</dt>
						<dd>
							<button type="submit" ng-show="!isConnected && !isConnecting"><i class="fa fa-plug"></i> Connect</button>
							<button type="submit" ng-show="!isConnected && isConnecting"><i class="fa fa-spinner fa-spin"></i> Connecting</button>
							<button type="submit" ng-show="isConnected"><i class="fa fa-sign-out"></i> Disconnect</button>
							<button type="button" ng-click="connection.isOpen = false;"><i class="fa fa-times"></i> Close</button>
						</dd>
					</dl>
				</form>
			</div>
		</section>
		<section id="github">
			<a href="https://github.com/sgchris/mysvn" target="_blank"><i class="fa fa-lg fa-code-fork"></i></i> Github</a>
		</section>
		
		<section id="nav-page-commits" ui-sref-active="nav-page-active">
			<a href ui-sref="commits"><i class="fa fa-lg fa-code-fork"></i></i> Commits</a>
		</section>
		
		<section id="nav-page-repo-browser" ui-sref-active="nav-page-active">
			<!--<a href="#/repo-browser" ><i class="fa fa-lg fa-code-fork"></i></i> Repo-Browser</a>-->
			<a href ui-sref="repo-browser"><i class="fa fa-lg fa-code-fork"></i></i> Repo-Browser</a>
		</section>
	</nav>
	<div id="container">
		<div ui-view></div>
	</div>
	
	<script>
		// fix heights
		var fixHeights = function() {
			return;
			var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
			var panelsHeight = (h - 150) + 'px';
			
			// commits grid
			document.getElementById('commits-list-grid').style.height = panelsHeight;
			
			// spinner for the commits grid
			document.getElementById('commits-list-grid-curtain').style.height = panelsHeight;
			document.getElementById('commits-list-grid-spinner').style.height = panelsHeight;			
			document.getElementById('commits-list-grid-spinner').style.lineHeight = panelsHeight;
			document.getElementById('commits-list-grid-curtain').style.width = document.getElementById('commits-list-grid').offsetWidth + 'px';
			document.getElementById('commits-list-grid-spinner').style.width = document.getElementById('commits-list-grid').offsetWidth + 'px';
			
			// files grid
			document.getElementById('files-grid').style.height = panelsHeight;
			
			// diff
			document.getElementById('modified-file-content').style.height = panelsHeight;
			
			// spinner for the diff
			document.getElementById('modified-file-content-curtain').style.height = panelsHeight;
			document.getElementById('modified-file-content-spinner').style.height = panelsHeight;
			document.getElementById('modified-file-content-spinner').style.lineHeight = panelsHeight;
			document.getElementById('modified-file-content-curtain').style.width = document.getElementById('modified-file-content').offsetWidth + 'px';
			document.getElementById('modified-file-content-spinner').style.width = document.getElementById('modified-file-content').offsetWidth + 'px';
		};
		
		fixHeights();
		window.addEventListener('resize', fixHeights);
	</script>
	<script src="/assets/angular/angular.min.js"></script>
	<script src="/assets/angular/angular-cookies.min.js"></script>
	<script src="/assets/angular/angular-ui-router.min.js"></script>
	
	<script src="/assets/ui-grid/ui-grid-stable.min.js"></script>
	<script src="/assets/ui-notification/angular-ui-notification.min.js"></script>	
	<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
	<script src="/assets/js/angular-highlightjs.min.js"></script>
	
	<script src="/app.js"></script>
	<script src="/controllers/connection.js"></script>
	<script src="/controllers/commits.js"></script>
	<script src="/controllers/repo-browser.js"></script>
	
</body>
</html>

