<!DOCTYPE html>
<html id="ng-app" ng-app="MySVN">
<head>
	<title>MySVN</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/styles/style2.css"/>
</head>
<body ng-controller="HomepageController">

	<nav>
		<section id="connection">
			
			<a href="javascript:;" ng-click="connection.toggleConnectionBox();" ng-class="{'clicked-down': connection.isOpen}">
				<i class="fa fa-lg fa-server"></i> Connection
			</a>
			
			<div id="connection-box" ng-show="connection.isOpen">
				<form ng-submit="connection.connect()">
					<dl>
						<dt>Url</dt><dd><input type="text" ng-model="connection.url" ng-disabled="connection.isConnected" placeholder="SVN URL" /></dd>
						<dt>Login</dt><dd><input type="text" ng-model="connection.login" ng-disabled="connection.isConnected" placeholder="Login" /></dd>
						<dt>Password</dt><dd><input type="password" ng-model="connection.password" ng-disabled="connection.isConnected" placeholder="Password" /></dd>
						<dt>&nbsp;</dt>
						<dd><label for="connection-store-locally" title="The connection details will be stored locally unencrypted. Not recommended for public/shared computers."><input type="checkbox" id="connection-store-locally" ng-model="connetion.storeConnection" /> Remember</label></dd>
						<dt>&nbsp;</dt>
						<dd>
							<button type="submit" ng-show="!connection.isConnected && !connection.isConnecting">Connect</button>
							<button type="submit" ng-show="!connection.isConnected && connection.isConnecting"><i class="fa fa-spinner fa-spin"></i> Connecting</button>
							<button type="submit" ng-show="connection.isConnected">Disconnect</button>
						</dd>
					</dl>
				</form>
			</div>
			
		</section>
		<section id="library">
			<a href="javascript:;"><i class="fa fa-lg fa-file-code-o"></i> Library</a>
		</section>
		<section id="github">
			<a href="javascript:;"><i class="fa fa-lg fa-code-fork"></i></i> Github</a>
		</section>
	</nav>
	
	<script src="/assets/angular/angular.min.js"></script>
	<script src="/assets/angular/angular-cookies.min.js"></script>
	
	<script src="/app2.js"></script>
	<script src="/controllers/homepage2.js"></script>
</body>
</html>

