<div id="commits-list" class="mysvn-grid-box">
	<div class="toolbar">
		<h2>Commits</h2>
		<form ng-submit="commits.loadCommitsList()">
			<span>Display</span> <input type="number" class="size-small" ng-model="commits.commitsLimit" placeholder="N" /> <span>commits</span>
			<span>before revision</span> <input type="number" class="size-medium" ng-model="commits.commitsTillRevision" placeholder="N"></label>
			
			<button type="submit" class="size-medium" ng-show="!commits.isLoading" ng-disabled="!isConnected"><i class="fa fa-lg fa-list-alt"></i> Load</button>
			<button type="submit" class="size-medium" ng-show="commits.isLoading" ng-disabled="!isConnected"><i class="fa fa-spinner fa-spin"></i> Loading</button>
		</form>
	</div>
	<div id="commits-list-grid-curtain" class="curtain" ng-show="commits.isLoading" style="height:{{panelHeight}}; width: {{commitsListPanelWidth}};"></div>
	<div id="commits-list-grid-spinner" class="curtain-spinner" ng-show="commits.isLoading" style="height:{{panelHeight}}; width: {{commitsListPanelWidth}}; line-height: {{panelHeight}};"><i class="fa fa-spinner fa-spin"></i> Loading</div>
	<div ui-grid="commits.commitsListGrid" id="commits-list-grid" class="mysvn-two-lines-in-row" style="height:{{panelHeight}}"></div>
</div>
<div id="modified-files-list" class="mysvn-grid-box">
	<h2>
	Modified files list
	<button ng-show="!commits.creatingPatch" id="create-patch-btn" ng-click="commits.createPatch();"><i class="fa fa-code-fork"></i> Download patch</button>
	<button ng-show="commits.creatingPatch" id="create-patch-btn" ng-click="commits.createPatch();" disabled><i class="fa fa-spinner fa-spin"></i> Download patch</button>
	</h2>
	<div ui-grid="modifiedFiles.filesGrid" id="files-grid" style="height:{{panelHeight}}"></div>
</div>
<div id="modified-file-diff">
	<h2>Diff</h2>
	<div id="modified-file-content-curtain" ng-show="modifiedFiles.loadingFileDiff" style="height:{{panelHeight}}; width: {{modifiedFilesPanelWidth}};"></div>
	<div id="modified-file-content-spinner" ng-show="modifiedFiles.loadingFileDiff" style="height:{{panelHeight}}; width: {{modifiedFilesPanelWidth}}; line-height: {{panelHeight}};"><i class="fa fa-spinner fa-spin"></i> Loading</div>
	<div id="modified-file-content" hljs source="modifiedFiles.diffString" style="height:{{panelHeight}}"></div>
</div>
