<script type="text/ng-template" id="setCredentials.html">
	<div class="modal-header">
		<h3 class="modal-title">SVN Connect</h3>
	</div>
	<div class="modal-body">
		<form>
			<div class="form-group">
				<label for="svnurl">SVN URL</label>
				<input type="text" class="form-control" id="svnurl" ng-model="svnurl" placeholder="http://my-svn/repo/path">
			</div>
			<div class="form-group">
				<label for="login">Login</label>
				<input type="text" class="form-control" id="login" ng-model="login" placeholder="jon_snow">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" ng-model="password" placeholder="w1Nt3rF^l1">
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" ng-click="setCredentialsOk()" ng-disabled="checkingConnection == true">OK</button>
		<button class="btn btn-default" ng-click="setCredentialsCancel()">Cancel</button>
	</div>
</script>
