<!--
<script type="text/ng-template" id="setCredentials.html">
	<div class="modal-header">
		<h3 class="modal-title">SVN Connect</h3>
	</div>
	<div class="modal-body">
		<form>
			<div class="form-group">
				<label for="svnurl">SVN URL</label>
				<input type="text" class="form-control" id="svnurl" ng-model="svnurl" placeholder="http://my-svn/repo/path">
			</div>
			<div class="form-group">
				<label for="login">Login</label>
				<input type="text" class="form-control" id="login" ng-model="login" placeholder="jon_snow">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" ng-model="password" placeholder="w1Nt3rF^l1">
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" ng-click="setCredentialsOk()" ng-disabled="checkingConnection == true">OK</button>
		<button class="btn btn-default" ng-click="setCredentialsCancel()">Cancel</button>
	</div>
</script>
-->

<style>

.list-files-grid {
	height: 360px;
}
#loading-indicator {
	position: fixed;
	top: 0;
	right: 0;
	padding: 5px 10px;
	
	background: #C11;
	color: #FFF;
	
	font-size: 12px;
	line-height: 16px;
}
</style>
<div ng-show="loadingFilesList || loadingCommitsList" id="loading-indicator">Loading...</div>
<div>
	<h1>SVN Path and Credentials</h1>
	<form ng-submit="connect()">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<label for="svnurl">SVN URL</label>
				<input type="text" id="svnurl" ng-model="connection.svnurl" class="form-control" placeholder="http://my.svn/path/to/repo" />
			</div>
			<div class="col-md-2 col-xs-5">
				<label for="login">Login</label>
				<input type="text" id="login" ng-model="connection.login" class="form-control" placeholder="jon_snow" />
			</div>
			<div class="col-md-2 col-xs-5">
				<label for="password">Password</label>
				<input type="password" id="password" ng-model="connection.password" class="form-control" placeholder="w1Nt3rF^l1" />
			</div>
			<div class="col-md-2 col-xs-2">
				<label for="submit-auth">&nbsp;</label>
				<input ng-if="checkingConnection != true" type="submit" id="submit-auth" class="form-control" value="Go" />
				<input ng-if="checkingConnection == true" type="submit" id="submit-auth" class="form-control" value="Connecting..." disabled />
			</div>
		</div>
	</form>
</div>

<br />
<ul class="nav nav-tabs">
	<li ng-class="{active: commitsTabIsVisible}"><a href="#" ng-click="tabClick('commits');">Commits</a></li>
	<li ng-class="{active: filesTabIsVisible}"><a href="#" ng-click="tabClick('files');">Files</a></li>
</ul>

<div ng-show="commitsTabIsVisible">
	<h1>List commits</h1>
	<form class="form-inline">
		<label for="list-commits-from-revision">From Revision</label>
		<input type="text" id="list-commits-from-revision" ng-model="listCommitsFromRevision" placeholder="123" />
		<label for="list-commits-to-revision">From Revision</label>
		<input type="text" id="list-commits-to-revision" ng-model="listCommitsToRevision" placeholder="456" />
		<input type="submit" value="Go" />
	</form>

	<div ui-grid="listCommitsGrid" class="list-commits-grid"></div>
</div>

<div ng-show="filesTabIsVisible">
	<h1>List files</h1>
	<form>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-folder-open"></i></span>
				<input type="text" class="form-control input-lg" ng-model="relativePath" />
				<div class="input-group-btn">
					<button class="btn btn-lg btn-default" type="submit">Go</button>
				</div>
			</div>
		</div>
	</form>

	<div ng-disabled="loadingFilesList || checkingConnection" ui-grid="listFilesGrid" class="list-files-grid"></div>
</div>
