<div id="panels-wrapper">
	<div id="files-tree-panel" class="panel">
		<h2>Files</h2>
		<div id="repo-browser-url-wrapper">
			<form>
				<input type="text" name="path" ng-model="repoBrowser.path" placeholder="http://path.to/svn/url" />
				<input type="text" name="revision" ng-model="repoBrowser.revision" placeholder="Rev number or &quot;HEAD&quot;" />
				<button><i class="fa fa-exit"></i> Go</button>
			</form>
		</div>
		<div ui-grid="filesTree.grid" style="height:{{panelHeight}}"></div>
	</div>
	<div id="file-content-panel" class="panel" style="height:{{panelHeight}}">
		<h2>Modified files list</h2>
		<div id="file-content-toolbar">
			<a href="javascript:;">Content</a>
			<a href="javascript:;">Diff</a>
		</div>
		<div xxx-ng-bind-html="fileContent.content"></div>
	</div>
	<div id="file-revisions-panel" class="panel" style="height:{{panelHeight}}">
		<h2>Revisions</h2>
		<div xxx-ui-grid="revisions.grid"></div>
	</div>
</div>
