<div id="panels-wrapper">
	<div id="files-tree-panel" class="panel">
		<h2>Files</h2>
		<div id="repo-browser-url-wrapper" class="repo-browser-toolbar">
			<form ng-submit="filesTree.init()">
				<input type="text" name="path" ng-model="repoBrowser.path" placeholder="http://path.to/svn/url" />
				<input type="text" name="revision" ng-model="repoBrowser.revision" placeholder="Rev number or &quot;HEAD&quot;" />
				<button ng-show="!filesTree.loadingTheTree" type="submit"><i class="fa fa-exit"></i> Go</button>
				<button ng-show="filesTree.loadingTheTree" type="submit" disabled><i class="fa fa-spinner fa-spin"></i> Go</button>
			</form>
		</div>
		<div ui-grid="filesTree.grid" style="height:{{panelHeight}}"></div>
	</div>
	<div id="file-content-panel" class="panel" style="height:{{panelHeight}}">
		<h2>Modified files list</h2>
		<div id="file-content-toolbar" class="repo-browser-toolbar">
			<a href="javascript:;" ng-class="{active: fileContent.isContentDisplayed}" ng-click="fileContent.setTab('content');">
				Content
				<span ng-show="fileContent.contentLoading">
					<i class="fa fa-spinner fa-spin"></i>
				</span>
			</a>
			<a href="javascript:;" ng-class="{active: fileContent.isDiffDisplayed}" ng-click="fileContent.setTab('diff');">
				Diff
				<span ng-show="fileContent.diffLoading">
					<i class="fa fa-spinner fa-spin"></i>
				</span>
			</a>
		</div>
		<div ng-show="!filesTree.currentlySelectedNodeUrl" id="rb-file-content" style="height:{{panelHeight}}">
			<div class="initial-rb-file-content-state">Select a file in the tree to view its content</div>
		</div>
		<div ng-show="filesTree.currentlySelectedNodeUrl && fileContent.content == ''" id="rb-file-content" style="height:{{panelHeight}}">
			<div class="initial-rb-file-content-state">Nothing...</div>
		</div>
		<div ng-show="fileContent.content" id="rb-file-content" hljs source="fileContent.content" style="height:{{panelHeight}}"></div>
	</div>
	<div id="file-revisions-panel" class="panel" style="height:{{panelHeight}}">
		<h2>Revisions</h2>
		<div class="repo-browser-toolbar">
			<span ng-show="revisions.loadingRevisions"><i class="fa fa-spinner fa-spin"></i> Loading revisions</span>
		</div>
		<div ui-grid="revisions.grid" style="height:{{panelHeight}}"></div>
	</div>
</div>
