/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* * * * * * * * * * * * * * * * * * * */

body {
	font-family: arial, verdana;
	font-size: 14px;
	line-height: 20px;
	tab-size: 2;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	margin: 0;
}

h1 { font-size: 2.5em; line-height: 2.0em; }
h2 { font-size: 2.0em; line-height: 2.0em; }
h3 { font-size: 1.6em; line-height: 1.6em; }
h4 { font-size: 1.2em; line-height: 1.6em; }

input[type="text"],
input[type="number"],
input[type="password"]
{
	padding: 2px 5px;
	font-size: 14px;
	line-height: 18px;
	border: 1px solid #CCC;
	border-radius: 3px;
}

strong {
	font-weight: bold;
	color: #000;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover, a:active, 
label:hover,
.clicked-down {
	color: rgb(147,176,218);
}

/* highlight.js */
.hljs {
	overflow: initial;
	background: initial;
}

.ui-grid-row .ui-grid-cell {
	white-space: nowrap;
}

/* navigation */

nav {
	background: #EEE;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #CCC;
}

nav section {
	float: left;
	padding: 0 10px;
	height: 50px;
	display: inline-block;
}

nav section#connection-info {
	float: right;
	color: #666;
}

nav section#connection-info.status-connected,
nav section#connection-info.status-connected strong {
	background-color: #B5D4F3;
}
nav section#connection-info.status-disconnected {
	color: #C11;
}
nav section.nav-page-active {
	background: #B5D4F3;
}

nav input[type="text"],
nav input[type="number"],
nav input[type="password"] {
	padding: 5px 10px;
	font-size: 14px;
	line-height: 20px;
	border: 1px solid #CCC;
	border-radius: 3px;
	width: 95%;
}

nav #connection-dialog-url {
	width: calc(95% - 82px);
}


/* repo-browser box */

.curtain {
	background: #FFF;
	opacity: 0.8;
	
	position : absolute;
	z-index: 150;
}
.curtain-spinner {
	position: absolute;
	z-index: 160;
	text-align: center;
	opacity: 1;
	color: #000;
}

#repo-browser-curtain {
	background: #FFF;
	opacity: 0.8;
	
	position : fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 150;
}


#repo-browser-box {
	overflow: auto;
	
	padding: 10px;
	border: 1px solid #CCC;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	background: #FFF;
	opacity: 0.8;

	position : fixed;
	top: 10%;
	bottom: 10%;
	
	right: 30%;
	left: 30%;
	z-index: 151;	
}

/* Connection box */

#connection #connection-box-curtain {
    background: #FFF;
	opacity: 0.9;
    position: fixed;
    z-index: 110;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
	
#connection #connection-box {
    background: #EEE;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 10px;
    line-height: 24px;
    border: 1px solid #CCC;
	
    position: fixed;
    z-index: 111;
	
    top: 20%;
    bottom: 20%;
    left: 30%;
    right: 30%;
	
	min-height: 285px;
	max-height: 285px;
}
	
/* Main area */

#container {
	padding: 10px;
	overflow: hidden;
}

#commits-list { 
	width: 40%;
	margin-right: 0.5%;
	float: left;
}
#commits-toolbar {
	overflow: hidden;
}
#commits-list h2 {
	display: inline-block;
}
#commits-list form { 
	float: right;
	margin-top: 1.2em;
}
#commits-list form input#commits-limit { 
	width: 50px;
}
#commits-list form input#commits-till-revision { 
	width: 80px;
}
#commits-list form button[type="submit"] { 
	width: 100px;
	text-align: center;
}

#commits-list-grid-curtain {
	background: #FFF;
	opacity: 0.8;
	position : absolute;
	z-index: 90;
}
	
#commits-list-grid-spinner {
	position: absolute;
	z-index: 91;
	text-align: center;
	color: #000;
}


#commits-list-grid {
	height: 700px;
}

.ui-grid-row .ui-grid-cell,
.ui-grid-row .ui-grid-cell-second-row {
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui-grid-row:hover .ui-grid-cell,
.ui-grid-row:hover .ui-grid-cell-second-row {
	background: #DDD;
}

.ui-grid-row .ui-grid-cell.selected-row,
.ui-grid-row .ui-grid-cell-second-row.selected-row {
	background: #B5D4F3;
}

#commits-list .ui-grid-row {
	height: initial;
}

#commits-list .ui-grid-row:nth-child(even) .ui-grid-cell,
#commits-list .ui-grid-row:nth-child(even) .ui-grid-cell-second-row {
	background-color: #f3f3f3;
}

#commits-list .ui-grid-row:nth-child(even) .ui-grid-cell.selected-row,
#commits-list .ui-grid-row:nth-child(even) .ui-grid-cell-second-row.selected-row {
	background-color: #B5D4F3;
}

#commits-list .ui-grid-cell-second-row {
	clear: both;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	border-bottom: 1px solid #DDD;
}

#modified-files-list {
	float: left;
	width: 25%;
	margin-right: 0.5%;
}

.modified-files-toolbar-button {
	float: right;
	margin-top: 1.2em;
}

#modified-file-diff {
	float: left;
	width: 34%;
}

#modified-file-content-curtain {
	background: #FFF;
	opacity: 0.8;
	position : absolute;
	z-index: 90;
}
#modified-file-content-spinner {
	position: absolute;
	z-index: 91;
	text-align: center;
	color: #000;
}
#modified-file-content {
	box-sizing: border-box;
	font-family: consola, monospace;
	font-size: 13px;
	border: 1px solid #CCC;
	box-sizing: border-box;
	overflow: auto;
	background: #f8f8f8;
}

.cell-value-wrapper {
	line-height: 30px;
	padding: 0 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.modified-file-path {
	color: #666;
}
