/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* * * * * * * * * * * * * * * * * * * */

body {
	font-family: arial, verdana;
	font-size: 14px;
	line-height: 20px;
	
	padding: 10px;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover, a:active, 
label:hover,
.clicked-down {
	color: rgb(147,176,218);
}

/* Connection box */

#connection {
	float: right;
}

#connection #connection-box {
	padding: 10px;
	
	position: absolute;
	z-index: 9999;
	
	background: #EEE;
	border: 1px solid #CCC;
	
	margin-left: -83px;
	margin-top: 10px;
}
	
